.categories-container
  display: flex
  flex-wrap: wrap
  // position: relative
  justify-content: center
  text-decoration: none

.locations-container
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  
  justify-content: center
  text-decoration: none

.panel
  border: 10px solid green
  display: inline-block
  position: relative

  &__text
    font-weight: 300px
    position: absolute
    color: white
    font-size: 4em
    width: max-content
    top: 2em
