random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)

.panel-container
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: flex-start
  margin: 44px auto 30px

  .panel
    border-radius: 0.5em
    display: inline-block
    position: relative
    width: 350px
    height: 200px
    margin: 0 7.5px 15px
    background-position: center
    float: left

    &__text
      font-weight: 300px
      position: absolute
      color: white
      font-size: 4em
      width: max-content
      top: 2em
      text-decoration: none
      margin-left: 31px
