.panel-container
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: flex-start
  margin: 44px auto 30px
  background white
  max-width 80vw
  padding 46px 20px

  a.panel.item
    margin 10px


  .panel
    border-radius: 0.5em
    display: inline-block
    position: relative
    width: 350px
    height: 200px
    // margin: 0 7.5px 15px
    background-position: center
    float: left
    box-shadow 2px 2px 8px 1px #696969
    filter: brightness(100%)

    &:hover
      filter brightness(80%)

    &__text
      font-weight: bold
      position: absolute
      color: white
      font-size: 3em
      line-height 43px
      text-decoration: none
      margin-left: 31px
      bottom 0
      left 0
      z-index 1
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      background rgba(0, 0, 0, 0.5)
      padding 10px
      border-radius 9px
